$size: 150px;

.item {
  width: 2.5 * $size + 10px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5px;


  &__button {
    width: $size;
    height: $size;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }



  &__info {
    position: relative;
    width: 1.5 * $size;
    height: $size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
  }

  &__title {
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
  }

  &__desc {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-bottom: 17px;
  }

  &__git {
    position: absolute;
    right: 10px;
    bottom: -25px;
    width: 20px;
    height: 20px;
  }

  &__stack {
    width: $size;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3px;
    flex-wrap: wrap;

    & * {
      width: 20px;
      height: 20px;
    }
  }
}