@import './styles/mixins.scss';
@import './styles/variables.scss';

@font-face {
  font-family: Contrast;
  src: url(./fonts/contrast.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: ChakraPetch;
  src: url(./fonts/ChakraPetch-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts//Poppins-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts//Poppins-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

.App {
  margin: 0 auto;
  max-width: 1600px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 50px;

  font-family: Poppins, sans-serif;

  @include onPhone {
    width: 100%;
    height: auto;

    flex-direction: column;
    gap: 110px;
    padding: 70px 20px 50px;
  }

  &__my-projects {
    position: relative;

    &::after {
      content: "My projects";
      position: absolute;
      top: -100px;
      left: -20px;

      transform: rotate(-12deg);

      font-family: Contrast, sans-serif;
      font-size: 60px;
      color: $tertiary;

      @include onPhone {
        top: -140px;
        left: 50%;

        transform:
        rotate(0deg)
        translateX(-50%);
      }
    }
  }

  &__item-list {
    width: 840px;
    height: 58vh;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 50px;

    overflow-y: scroll;

    @include onPhone {
      height: auto;
      width: 100%;

      overflow-y: hidden;

      justify-content: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
